<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="booking">
        <div class="booking-card">
            <div class="booking-time">
                <div class="time-detail">
                    <a href="../index.html" class="close-btn3">Home</a>
                    <h2>TIME OPEN</h2>
                    <h3>Sunday - Friday</h3>
                    <p>Day (7am - 5pm) = Rs.1,200 </p>
                    <p>Night (5pm - 8pm) = Rs.1,200 </p>
                    <h3>Saturday</h3>
                    <p>Day (7am - 5pm) = Rs.1,500 </p>
                    <p>Night (5pm - 8pm) = Rs.1,700 </p>
                    <hr>
                    <h4>Call Us: 025-521766</h4>
                </div>
            </div>
            <div class="booking-form">
                <form class="form-detail" action="#">
                    <h2>Book Online</h2>
                    <div class="form-field">
                        <p>Your Name</p>
                        <input type="text" placeholder="Your Name">
                    </div>
                    <div class="form-field">
                        <p>Your Email</p>
                        <input type="email" placeholder="Your Email">
                    </div>
                    <div class="form-field">
                        <p>Your Number</p>
                        <input type="text" placeholder="Your Number">
                    </div>
                    <div class="form-field">
                        <p>Date</p>
                        <input type="date">
                    </div>
                    <div class="form-field">
                        <p>Time</p>
                        <select name="select" id="#">
                            <option value="1">7am - 8am</option>
                            <option value="1">8am - 9am</option>
                            <option value="1">9am - 10am</option>
                            <option value="1">10am - 11am</option>
                            <option value="1">11am - 12pm</option>
                            <option value="1">12pm - 1pm</option>
                            <option value="1">1pm - 2pm</option>
                            <option value="1">2pm - 3pm</option>
                            <option value="1">3pm - 4pm</option>
                            <option value="1">4pm - 5pm</option>
                            <option value="1">5pm - 6pm</option>
                            <option value="1">6pm - 7pm</option>
                            <option value="1">7pm - 8 pm</option>
                        </select>
                    </div>
                    <button class="submit">Book Now</button>
                </form>
            </div>

        </div>
    </div>
</body>
</html>